<ion-header >
  <ion-toolbar>
    <ion-title>PandaBuy </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/pandabuy.png " alt="codeswag-logo">
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Login</ion-card-title>
      <ion-card-header>
        
      <ion-card-content>
    <ion-item>

      <ion-input placeholder="Username"></ion-input>
    </ion-item>
   <ion-item>
    <ion-input placeholder="password" type="password"></ion-input>
    </ion-item> 
    <ion-button  expand="block"(click) ="logMeIn()">login</ion-button>
    <ion-button  expand="block" color ="secondary" (click)="Register()">register</ion-button>
     </ion-card-content>
    </ion-card-header>
    
    



