<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>
    <ion-card-header>
      <img src="assets/pandabuy.png " alt="codeswag-logo">
    <ion-card-subtitle>Welcome</ion-card-subtitle>
    <ion-card-title><a href="https://www.nike.com/ie/w/mens-shoes-nik1zy7ok">pandabuy.com/shoes</a></ion-card-title>
    <ion-card-title><a href="https://www.adidas.ie/men-tracksuits">pandabuy.com/tracksuits</a></ion-card-title>
    <ion-card-title><a href="https://www.farfetch.com/ie/shopping/men/items.aspx">pandabuy.com/designer</a></ion-card-title>
      <ion-card-header>
        
      <ion-card-content>
        Welcome New user,
   PandaBuy is a website for finding all your clothing websites which includes your availability on the latest shoes, designer and other clothing items etc,  
   PandaBuy offers a different variety of different brands available and if you make a pandabuy account you will receive a 10% discount 
   off your first purchase
   
    
    <ion-button  expand="block" (click) ="goToContact()">Contact us!</ion-button>
  
      
   
  </ion-card-content>
</ion-card-header>




